<launch>
    <node name="imu_driver" pkg="uma_controls" type="driver_imu_ahrs8" respawn="true" output="screen" />
   
    <node name="gps_driver" pkg="nmea_navsat_driver" type="nmea_serial_driver" respawn="true" ns="gps">
        <param name="baud" value="115200" />
        <param name="port" value="/dev/uma-gps" />
    </node>

    <node name="arduino_status_driver" pkg="uma_controls" type="arduino_status_driver" />
    <node name="lynx_driver" pkg="uma_controls" type="lynx_board_driver" />

    <include file="$(find uma_controls)/launch/vectornav.launch" />
</launch>
